.profile {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 20px auto;
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
}

.description {
  padding: 30px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #212121;
}

.tag,
.location {
  color: #757575;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  background-color: #f3f6f9;
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #e4e9f0;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Рівномірний розподіл ширини */
  padding: 15px;
  border-right: 1px solid #e4e9f0;
}

.stats li:last-child {
  border-right: none;
}

.label {
  font-size: 12px;
  color: #757575;
  margin-bottom: 5px;
}

.quantity {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
}
