.table {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.thead {
  background-color: #00bcd5;
  color: #ffffff;
  text-transform: uppercase;
}

.thead th {
  padding: 15px;
  font-size: 14px;
}

.tbody tr {
  text-align: center;
  color: #686868;
}

.tbody td {
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.type {
  text-transform: capitalize;
}

.tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
